<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/pizza.jpg" class="d-block w-100" alt="Pizza">
        </div>
        <div class="carousel-item">
            <img src="~/images/fishandchips.jpg" class="d-block w-100" alt="Fish and Chips">
        </div>
        <div class="carousel-item">
            <img src="~/images/tacos.jpg" class="d-block w-100" alt="Tacos">
        </div>
        <div class="carousel-item">
            <img src="~/images/chickenleg.jpg" class="d-block w-100" alt="Fried Chicken Leg">
        </div>
        <div class="carousel-item">
            <img src="~/images/frenchfries.jpg" class="d-block w-100" alt="French Fries">
        </div>
        <div class="carousel-item">
            <img src="~/images/ribs.jpg" class="d-block w-100" alt="Ribs">
        </div>
        <div class="carousel-item">
            <img src="~/images/coke.jpg" class="d-block w-100" alt="Coke">
        </div>
        <div class="carousel-item">
            <img src="~/images/cider.jpg" class="d-block w-100" alt="Cider">
        </div>
    </div>
</div>