@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyShop</h1>
</div>

@* Include carousel partial (images from wwwroot/images) *@
<partial name="_Carousel" />